* {
    box-sizing: border-box
}

#playground {
    margin: auto;
    width: 80vmin;
    height: 80vmin;
}


#playground {
    display: grid;
    grid-gap: 1px;
    background-color: black;
    border: 3px solid black;
}

.anchor {
    z-index:1;
    background-color:white;
    border-radius:50% 50%;
}